@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import './base.css';

#app {
  background-color: #111827;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  color: #f8fafc;
}

* {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none !important;
  transition: 0.4s;
  color: #fff !important;
}

a:hover {
  color: #ff7214 !important;
}
